<h1>Invites#new</h1>
<p>Find me in app/views/invites/new.html.erb</p>

<%= render 'invitesForm' %>


<div id="map" style="height: 400px;"></div>
<script>
  function initMap() {

  	var mapOptions = {
  		center: new google.maps.LatLng(43.646355, -79.413582),
	    zoom: 16,
	    scrollwheel: false,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
  	}

    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var infoWindow = new google.maps.InfoWindow({map: map});

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        console.log(pos);

        // Pass location to hidden fields
        var set_location = function() {
          $('.user_latitude').val(pos.lat);
          $('.user_longitude').val(pos.lng);
        };

        set_location();

        infoWindow.setPosition(pos);
        infoWindow.setContent('Your Location');
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1VWB16nqD-V2R0L1ucjcSzFHE-niH10&callback=initMap"></script>