<h1>Invites#new</h1>
<p>Find me in app/views/invites/new.html.erb</p>

<%= render 'invitesForm' %>

<div id="map" style="height: 400px;"></div>
<script>
  function initMap() {

  	var mapOptions = {
  		center: new google.maps.LatLng(43.647916, -79.414684),
	    zoom: 16,
	    scrollwheel: false,
      draggable: false,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
  	}

    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var infoWindow = new google.maps.InfoWindow({map: map});

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        console.log(pos);

        // Pass location to hidden fields
        var set_location = function() {
          $('.user_latitude').val(pos.lat);
          $('.user_longitude').val(pos.lng);
        };

// Start Boundary experiment
// *************************
        // Set bounds for Trinity Bellwoods park
        // var strictBounds = new google.maps.LatLngBounds(
        //  new google.maps.LatLng(43.644253, -79.418262), 
        //  new google.maps.LatLng(43.651266, -79.411527)
        // );

        // console.log("strict bounds: " + strictBounds);

        // // Check to see if user in within set boundary
        // if (strictBounds.contains(map.getCenter())) {
        //   console.log("You are NOT in bellwoods");
        //   // Remove form, so user cannot submit an invite. This is a temporary solution.
        //   $("#new_invite").remove();
        //   // Find a better way to replace map with useful info.
        //   $("#map").html("<p>Sorry, Looks like you are not in bellwooods. Git to the park and try again.</p>")
        //   return;
        // } else {
        //   console.log("You are in Bellwoods");
          set_location(); // Keep this function call if you remove experiment code above!!
        // }
// End Boundary experiment
// ***********************

        infoWindow.setPosition(pos);
        infoWindow.setContent('Your Location');
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });

    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1VWB16nqD-V2R0L1ucjcSzFHE-niH10&callback=initMap"></script>