<div class="wrapper">
	<h1>Profiles#edit</h1>
	<p>Find me in app/views/profiles/edit.html.erb</p>
	<%= render 'profileForm' %>

	<% if current_user.profile.id.present? %>
		<%= link_to "Change User Settings", edit_user_registration_path %>
	<% end %>
</div>