<div class="wrapper">	
	<h2>My profile</h2>
	<%= link_to "Edit Profile", edit_profile_path %>
	<p><%= @profile.full_name %></p>
	<div class="avatar">
		<%= image_tag @profile.avatar.url(:thumb) %>
	</div>
</div>