// Colors
$primary: 		#8BC34A;
$accent:		#25222c;
$accentLight:	#605a6a;
$yellow:		#f0ff00;
$orange:		#FFEB3B;
$text:			#2D2A32;
$bg: linear-gradient(rgba(0,111,255,0.3), rgba(0,111,255,0.3));
$gray:			#EEEEEE;
$red:			#D32F2F;
$white:			#FFFFFF;