body {
	min-height: 100vh;
	font-family: $copyFont;
	color: $text;
	background: $bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Bungee Hairline', cursive;
	@include font-size(20);
}

h2 {
	text-align: center;
	margin: 5px 0;
}

h1 {
	a {
		&:hover {
			text-decoration: none;
		}
	}
}

a {
	color: $accent;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&.primary {
		color: $primary;
	}
}

img {
	max-width: 100%;
}

p.alert {
	color: $red;
}

.template--pad {
	padding: 60px 0;
}

// Forms

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	border: none;
	background: rgba($gray, 0.75);
	width: 100%;
	padding: 5px;
	border-radius: 5px;
}

input[type="submit"] {
	border: none;
}

label {
	display: block;
}

.box-shadow {
	box-shadow: 0px 0px 2px 0px rgba(1,1,1,0.1);
}

.ul--reset {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.wrapper {
  width: 95%;
	max-width: 800px;
	margin: 0 auto;
}

.btn {
	color: #FFF;
  background-color: #3498DB;
  box-shadow: inset 0px 0px 0px 2px transparent;
  &--round {
	  padding: 5px 20px;
    line-height: 1.33;
    border-radius: 999px;
  }
  &[disabled] {
  	opacity: 0.5;
  	cursor: not-allowed;
  }
}