// Grid Variables
$row-width:		1200px;
$column-gutter: 8px;
$total-columns: 12;

// media queries
$small-screen:  768px;
$medium-screen: 1024px;
$large-screen:  1440px;

$screen: 	"only screen";
$small: 	"only screen and (min-width: #{$small-screen})";
$medium: 	"only screen and (min-width: #{$medium-screen})";
$large: 	"only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait:  "only screen and (orientation: portrait)";
$retina:    "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx)";

// warning: use these ONLY when necessary
// they are an anti-pattern
$mobile-only: "only screen and (max-width: #{$small-screen - 1})";
$small-only: "only screen and (min-width: #{$small-screen}) and (max-width: #{$medium-screen - 1})";
$small-down: "only screen and (min-width: 0) and (max-width: #{$medium-screen - 1})";
$small-medium-only: "only screen and (min-width: #{$small-screen}) and (max-width: #{$large-screen - 1})";
$medium-only: "only screen and (min-width: #{$medium-screen}) and (max-width: #{$large-screen - 1})";
$medium-down: "only screen and (min-width: 0) and (max-width: #{$large-screen - 1})";