<h2>Pages#expired</h2>
<p>Find me in app/views/pages/expired.html.erb</p>

<h4>LOL, this invite has expired, or does not exist!</h4>
<% if user_signed_in? %>
	<%= link_to "Return to Active Invites", invites_path %>
<% end %>