<div class="wrapper">
	<h2>Welcome to Midpark Meetup</h2>

	<p>A friend finder app for Trinity Bellwoods Park</p>
	<p>Users can send their location via email to a friend to better find them inside Trinity Bellwoods park</p>
	<p>Email includes link to unique and temporary instance of a location within the park</p>
	<p>Page displays map with drop-pin, user you are meeting, and a custom description or message ("Hey, I'm wearing a red shirt over by the dog park")</p>
</div>