<h1>This is an email test!</h1>

<p>Recipient: <%= @invite.recipient %></p>
<p>Message: <%= @invite.message %></p>
<p>Latitude: <%= @invite.latitude %></p>
<p>Longitude: <%= @invite.longitude %></p>

<div class="map">map</div>