header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #A3CCFF;
	.ham-menu {
		font-size: 2rem;
	}
	h1 {
		padding: 10px;
		margin: 0;
	}
	nav {
		position: relative;
		display: inline-block;
		padding: 10px;
		cursor: pointer;
		&:hover ul {
			display: block;
		}
	}
	ul {
		font-size: 1.2rem;
		position: absolute;
		background: rgba(#fff, 0.75);
		right: 10px;
		top: 50px;
		display: none;
		padding: 5px;
		width: auto;
		line-height: 1.2;
		text-align: right;
		li {
			white-space: nowrap;
		}
	}
}