header {
	padding: 10px 0;
	background-color: #2B4862;
	a,
	button.nav {
		color: #EEF8F6;
	}
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.ham-menu {
		font-size: 1.5rem;
	}
	h1 {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 1.6rem;
		padding: 0;
		margin: 0;
		border: 2px solid #9BA4A3;
		// background: #9BA4A3;
	  font-size: 30px;
		a {
			padding: 0 5px;
			color: #F1B04D;
			text-shadow:
		   -1px -1px 0 #000,  
		    1px -1px 0 #000,
		   -1px 1px 0 #000,
		    1px 1px 0 #000;
		}
	}
	button.nav {
		display: inline-block;
		padding: 0;
		cursor: pointer;
		border: none;
		background: none;
		// transform: scale(1);
		transition: all 0.5s ease;
	}
	ul {
		font-size: 1.2rem;
		line-height: 1.2;
		text-align: center;
		max-height: 0;
		overflow: hidden;
		transition: max-height 1s ease;
		a {
			display: inline-block;
			white-space: nowrap;
			padding: 5px 10px;
		}
		.btn {
			margin-bottom: 10px;
		}
	}
	&.nav_open {
		// button.nav {
		// 	transform: scale(1.1); 
		// }
		ul {
			max-height: 1000px;
			display: block;
		}
	}
}
