// Place all the styles related to the invites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.marker {
  position:  absolute;
  background-size: cover;
  background-repeat:  no-repeat;
  background-position: center;
  width: 55px;
  height:  55px;
  border-radius: 50%;
  border:  5px solid #aaa;
  position: relative;

  &:after {
    content:  "";
    width: 0; 
    height: 0; 
    position: absolute;
    bottom:  -18px;
    z-index:  -1;
    left:  calc(50% - 20px);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #aaa;
  }
}