// Place all the styles related to the invites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom_marker_content {
  text-align: center;
  border-radius: 50%;
  background-color: #ccc;
  width: 65px;
  height: 65px;

  &:after {
    content:  "";
    width: 0; 
    height: 0; 
    position: absolute;
    bottom:  -8px;
    z-index:  -1;
    left:  calc(50% - 10px);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc;
  }
}

.marker_img {
  border-radius: 50%;
  position: relative;
  top: 5px;
  display: inline-block;
}

.form__get-directions {
  display: none;

  &.target-active {
    display: inline-block;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 57px);
  .map-container {
    flex: 1;
  }
}